name: Deploy to Development

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  call-deploy:
    uses: ./.github/workflows/_deploy.yml
    with:
      environment: development
    secrets: inherit
